@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Poppins", sans-serif;
  background: white;
}

header {
  display: flex;
  background: url("./img/two\ 1\ \(1\).png");
  margin: 0 auto;
  position: relative;
  width: 1440.067px;
  height: 889px;
}

.main {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 45px;
  left: 120px;
}

.col {
  color: white;
  display: flex;
  gap: 44px;
  position: absolute;
  top: 35px;
  left: 560px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 700;
}

button {
  width: 209px;
  height: 48px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background: var(--yeallow-brand-color, #fc0);
  display: flex;
  position: absolute;
  left: 1110px;
  top: 35px;
  justify-content: center;
  align-items: center;
}

.money {
  color: white;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  top: 149px;
  left: 120px;
}

p {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  position: absolute;
  top: 150px;
  left: 120px;
}

.elips {
  background: var(--yeallow-brand-color, #fc0);
  width: 205px;
  height: 205px;
  border-radius: 50%;
  position: absolute;
  top: 350px;
  left: 120px;
}

.number {
  color: var(--white-secondery-color, #fff);
  font-size: 63.896px;
  font-weight: 700;
  position: absolute;
  left: 45px;
  top: 15px;
}

.discount {
  color: var(--white-secondery-color, #fff);
  font-size: 31.948px;
  font-weight: 700;
  position: absolute;
  top: 100px;
  left: 20px;
}

.app {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  top: 335px;
  left: 354px;
  right: 750px;
}

button-2 {
  width: 209px;
  height: 48px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background: var(--yeallow-brand-color, #fc0);
  display: flex;
  position: absolute;
  top: 645px;
  left: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-2 {
  width: 1440px;
  height: 800px;
  background: white;
  position: absolute;
  top: 800px;
}

.top {
  color: var(--yeallow-brand-color, #fc0);
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 115px;
  left: 671px;
}

.categories {
  color: var(--black-font-color, #231900);
  font-size: 55px;
  font-weight: 600;
  position: absolute;
  top: 142px;
  left: 506px;
}

.product-cards {
  width: 100%;
  height: 800px;
}

.pizza-card {
  position: absolute;
  top: 210px;
  left: 120px;
}

.pizza-name {
  position: absolute;
  top: 355px;
  left: 100px;
  color: var(--black-font-color, #231900);
  font-size: 24px;
  font-weight: 700;
}

.pizza-info {
  position: absolute;
  top: 405px;
  left: 25px;
  color: var(--black-font-color, #231900);
  font-size: 20px;
  font-weight: 600;
}

.pasta-card {
  position: absolute;
  top: 210px;
  left: 420px;
}

.pasta-name {
  position: absolute;
  top: 355px;
  left: 105px;
  color: var(--black-font-color, #231900);
  font-size: 24px;
  font-weight: 700;
}

.pasta-info {
  position: absolute;
  top: 405px;
  left: 30px;
  color: var(--black-font-color, #231900);
  font-size: 20px;
  font-weight: 600;
}

.snakes-card {
  position: absolute;
  top: 210px;
  left: 730px;
}

.snakes-name {
  position: absolute;
  top: 355px;
  left: 95px;
  color: var(--black-font-color, #231900);
  font-size: 24px;
  font-weight: 700;
}

.snakes-info {
  position: absolute;
  top: 405px;
  left: 20px;
  color: var(--black-font-color, #231900);
  font-size: 20px;
  font-weight: 600;
}

.burger-card {
  position: absolute;
  top: 210px;
  left: 1040px;
}

.burger-name {
  position: absolute;
  top: 355px;
  left: 90px;
  color: var(--black-font-color, #231900);
  font-size: 24px;
  font-weight: 700;
}

.burger-info {
  position: absolute;
  top: 405px;
  left: 15px;
  color: var(--black-font-color, #231900);
  font-size: 20px;
  font-weight: 600;
}


